@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--color-body);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    background-color: var(--color-body);
    color: #fff;
    z-index: 5;
}

.header h2 {
    color: var(--color-primario);
    font-size: 5vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
    text-transform: capitalize;
}

.div__header {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.div__header div {
    font-size: 1.8vh;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    margin: 0 3%;
}

.div__header div a {
    color: var(--color-secundario);
    text-decoration: none;
}

.article__1{
    position: relative;
    display: grid;
    grid-template-columns: .5fr 2.5fr 2fr .5fr;
    grid-template-rows: 1.2fr 1fr 2fr repeat(3, 1fr) 1fr 1.2fr;
    grid-template-areas: 
    ". . . ."
    ". . imagen_inicio_pagina ."
    ". titulo_pagina imagen_inicio_pagina ."
    ". texto_inicio_pagina imagen_inicio_pagina ."
    ". boton_inicio_pagina imagen_inicio_pagina ."
    ". . imagen_inicio_pagina ."
    ". . imagen_inicio_pagina ."
    ". . . ."
    ;
    width: 100%;
    height: 100vh;
}

.titulo{
    /*background: red;*/
    grid-area: titulo_pagina;
}

.titulo h1{
    font-size: 7vw;
    font-family: "Poppins", sans-serif;
    color: var(--color-primario);
    text-transform: capitalize;
    margin-top: 2vw;
}

.parrafo{
    /*background: green;*/
    grid-area: texto_inicio_pagina;
}

.parrafo h5{
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
    color: var(--color-secundario);
    
}

.boton{
    /*background: yellow;*/
    grid-area: boton_inicio_pagina;
}

.boton button{
    width: 11.5vw;
    height: 5vh;
    font-size: 1.5vw;
    background-color: var(--color-primario);
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    color: var(--color-secundario);
    margin-top: 2vh;
    border: none;
    border-radius: 3%;
    cursor: pointer;
}

.img__article__1{
    /*background: violet;*/
    grid-area: imagen_inicio_pagina;
}

.img__article__1 img{
    width: 100%;
    height: 65vh;
    object-fit: contain;

}

.article__2{
    position: relative;
    display: grid;
    grid-template-columns: .5fr 2fr .2fr 1.9fr .5fr;
    grid-template-rows: .9fr 1.2fr .7fr 1fr 2fr 1.5fr 1fr .7fr 1.2fr ;
    grid-template-areas: 
    ". . . . ."
    ". . . . ."
    ". aboutUs_img . . ."
    ". aboutUs_img . aboutUs_seccion ."
    ". aboutUs_img . aboutUs_titulo ."
    ". aboutUs_img . aboutUs_parrafo ."
    ". aboutUs_img . aboutUs_boton ."
    ". aboutUs_img . . ."
    ". . . . ."
    ;
    width: 100%;
    height: 90vh;
}

.aboutUs__img{
    /*background: red;*/
    grid-area: aboutUs_img;
}

.aboutUs__img img{
    width: 100%;
    height: 65vh;
    object-fit: contain;
}

.aboutUs__seccion{
    /*background: green;*/
    grid-area: aboutUs_seccion;
}

.aboutUs__seccion p{
    font-size: 2vw;
    margin-top: 5vh;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    color: var(--color-primario);
}

.aboutUs__titulo{
    /*background: pink;*/
    grid-area: aboutUs_titulo;
}

.aboutUs__titulo h3{
    font-size: 3.5vw;
    font-family: "Poppins", sans-serif;
    color: var(--color-secundario);
    margin-top: 2vw;
}

.aboutUs__parrafo{
    width: 90%;
    /*background: orange;*/
    grid-area: aboutUs_parrafo;
}

.aboutUs__parrafo p{
    font-size: 1.6vw;
    font-family: "Poppins", sans-serif;
    color: var(--color-secundario);
    margin-top: 2vh;
}

.aboutUs__boton{
    /*background: yellow;*/
    grid-area: aboutUs_boton;
}

.aboutUs__boton button{
    width: 11.5vw;
    height: 4.5vh;
    font-size: 1.5vw;
    background-color: var(--color-primario);
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    color: var(--color-secundario);
    border: none;
    margin-top: 1vh;
    border-radius: 3%;
    cursor: pointer;
}

.article__3{
    position: relative;
    display: grid;
    grid-template-columns: .6fr 1fr 1fr 1fr .6fr;
    grid-template-rows: 1fr .5fr .7fr 1fr .8fr 4fr 1.5fr ;
    grid-template-areas: 
    ". . . . ."
    ". . . . ."
    ". . menu_seccion . ."
    ". menu_titulo menu_titulo menu_titulo ."
    ". . . . ."
    ". imgs imgs imgs ."
    ". . . . ."
    ;
    width: 100%;
    height: 100vh;
    column-gap: 2vw;
}

.menu__seccion{
    /*background: red;*/
    grid-area: menu_seccion;
}

.menu__seccion h4{
    font-size: 1.4vw;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    color: var(--color-primario);
    text-align: center ;
}

.menu__titulo{
    /*background: green;*/
    grid-area: menu_titulo;
}

.menu__titulo h1{
    font-size: 3vw;
    font-family: "Poppins", sans-serif;
    color: var(--color-secundario);
    text-align: center ;
    
}

.menu__imgs{
    /*background: pink;*/
    grid-area: imgs;
    display: flex;
    justify-content: space-between;
}

.img__1{
    background: var(--color-terciario);
    width: 22vw;
    height: 25vw;
    border-radius: 5%;
}

.img__1 img{
    width: 85%;
    margin-left: 1.5vw;
}

.titulo_img_1{
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.texto_img_1 p{
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.precio_img_1 p{
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--color-primario);
}

.img__2{
    background: var(--color-terciario);
    width: 22vw;
    height: 25vw;
    border-radius: 5%;
}

.titulo_img_2{
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.texto_img_2 p{
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.precio_img_2 p{
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--color-primario);
}

.img__2 img{
    width: 85%;
    margin-left: 1.5vw;
}

.img__3{
    background: var(--color-terciario);
    width: 22vw;
    height: 25vw;
    border-radius: 5%;
}

.titulo_img_3{
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.texto_img_3 p{
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.precio_img_3 p{
    font-size: 1.2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--color-primario);
}

.img__3 img{
    width: 85%;
    margin-left: 1.5vw;
}

.article__4{
    position: relative;
    display: grid;
    grid-template-columns: .6fr 1fr 1fr 1fr .6fr;
    grid-template-rows: .5fr .5fr .7fr 1fr .8fr 4fr 1.5fr ;
    grid-template-areas: 
    ". . . . ."
    ". . . . ."
    ". . service_seccion . ."
    ". service_titulo service_titulo service_titulo ."
    ". . . . ."
    ". service_imgs service_imgs service_imgs ."
    ". . . . ."
    ;
    width: 100%;
    height: 100vh;
    column-gap: 2vw;
}

.service__seccion{
    /*background: red;*/
    grid-area: service_seccion;
}

.service__seccion h4{
    font-size: 1.4vw;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    color: var(--color-primario);
    text-align: center ;
}

.service__titulo{
    /*background: green;*/
    grid-area: service_titulo;
}

.service__titulo h1{
    font-size: 3vw;
    font-family: "Poppins", sans-serif;
    color: var(--color-secundario);
    text-align: center ;
    
}

.service__imgs{
    /*background: pink;*/
    grid-area: service_imgs;
    display: flex;
    justify-content: space-between;
}

.service__img__1{
    width: 22vw;
    height: 25vw;
    border-radius: 5%;
}

.service__img__1 img{
    width: 85%;
    margin-left: 1.5vw;
}

.titulo_service_img_1{
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-primario);
}

.texto_service_img_1 p{
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 1.5vw;
    color: var(--color-secundario);
}

.service__img__2{
    width: 22vw;
    height: 25vw;
    border-radius: 5%;
}

.titulo_service_img_2{
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-primario);
}

.texto_service_img_2 p{
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 1.5vw;
    color: var(--color-secundario);
}

.service__img__2 img{
    width: 85%;
    margin-left: 1.5vw;
}

.service__img__3{
    width: 22vw;
    height: 25vw;
    border-radius: 5%;
}

.titulo_service_img_3{
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-primario);
}

.texto_service_img_3 p{
    font-size: 1.5vw;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 1.5vw;
    color: var(--color-secundario);
}

.service__img__3 img{
    width: 85%;
    margin-left: 1.5vw;
}

.article__5{
    position: relative;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: .5fr .8fr 1fr 1.5fr 1.5fr 1fr .8fr .5fr;
    grid-template-rows: 1.5fr 5fr 1fr .3fr 2.5fr .2fr;
    grid-template-areas: 
    ". . . . . . . ."
    ". contact_box contact_box contact_box contact_box contact_box contact_box ."
    ". . . . . . . ."
    ". . . . . . . ."
    ". . menu_links our_service information contact_us . ."
    ". . . . . . . ."
    ;
}

.contact__box{
    background: var(--color-terciario);
    grid-area: contact_box;
    width: 85vw;
    border-radius: 2%;
}

.texto__contact{
    /*background: red;*/
    text-align: center;
    font-size: 3vw;
    font-family: "Poppins", sans-serif;
    margin-top: 4vw;
}

.boton__contact{
    text-align: center;
    margin-top: 3vw;
}

.boton__contact button{
    background: var(--color-primario);
    width: 14vw;
    height: 3vw;
    font-family: "Poppins", sans-serif;
    color: var(--color-secundario);
    font-size: 1.3vw;
    cursor: pointer;
}

.menu__links{
    /*background: red;*/
    grid-area: menu_links;
}

.menu__links h4{
    font-family: "Poppins", sans-serif;
    font-size: 1.4vw;
    text-transform: capitalize;
    color: var(--color-secundario);
}

.menu__links div{
    background: var(--color-primario);
    width: 4vw;
    height: .5vh;
    border-radius: 20%;
}

.menu__links a{
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    color: var(--color-secundario);
    text-transform: capitalize;
    text-decoration: none;
}

.our__service{
    /*background: green;*/
    grid-area: our_service;
}

.our__service h4{
    font-family: "Poppins", sans-serif;
    font-size: 1.4vw;
    text-transform: capitalize;
    color: var(--color-secundario);
}

.our__service div{
    background: var(--color-primario);
    width: 4vw;
    height: .5vh;
    border-radius: 20%;
}

.our__service p{
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    color: var(--color-secundario);
    text-transform: capitalize;
    cursor: pointer;
}

.information{
    /*background: blueviolet;*/
    grid-area: information;
}

.information h4{
    font-family: "Poppins", sans-serif;
    font-size: 1.4vw;
    text-transform: capitalize;
    color: var(--color-secundario);
}

.information div{
    background: var(--color-primario);
    width: 4vw;
    height: .5vh;
    border-radius: 20%;
}

.information p{
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    color: var(--color-secundario);
    text-transform: capitalize;
    cursor: pointer;
}

.contact__us{
    /*background: yellow;*/
    grid-area: contact_us;
}

.contact__us h4{
    font-family: "Poppins", sans-serif;
    font-size: 1.4vw;
    text-transform: capitalize;
    color: var(--color-secundario);
}

.linea{
    background: var(--color-primario);
    width: 4vw;
    height: .5vh;
    border-radius: 20%;
}

.contact__us i{
    background: var(--color-primario);
    width: 2.1vw;
    height: 2vw;
    border-radius: 100%;
    font-size: 2.1vw;
    margin-left: .4vw;
    cursor: pointer;
}