<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/abrigos.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section id="abrigos" class="body__menu">
            <article class="menu">
                <h1 class="titulo__menu">CampusShop</h1>
                <div class="categorias__menu">
                    <div>
                        <i class='bx bxs-grid-alt' ></i>
                        <a href="../index.html">Todos los productos</a>
                    </div>
                    <div class="todos_productos_boton_menu">
                        <i class='bx bxs-t-shirt'></i>
                        <a href="abrigos.html">Abrigos</a>
                    </div>
                    <div class="menu_texto_2">
                        <i class='bx bxs-t-shirt'></i>
                        <a href="camisetas.html">Camisetas</a>
                    </div>
                    <div class="menu_texto_3">
                        <i class='bx bxs-t-shirt'></i>
                        <a href="pantalones.html">Pantalones</a>
                    </div>
                </div>
                <div class="carrito__menu">
                    <i class='bx bxs-cart-alt' ></i><a href="carrito_menu.html">Carritos</a>
                    <h5>1</h5>
                </div>
                <div class="marca__menu">
                    <i class='bx bx-copyright'></i>
                    <p>2023 Camper</p>
                </div>
            </article>
            <article class="todos__productos">
                <h1 class="titulo__todos__productos">Abrigos</h1>
                <div class="imgs_todos">
                    <div class="img_todos_1">
                        <img src="../storage/img/abrigo01.webp" alt="">
                        <div class="caja_info_todos_1">
                            <h5>Chaqueta Impermeable En Gabán Para Dama 'Azul'</h5>
                            <div class="texto_img_todos_1">
                                <p>$93.900</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_2">
                        <img src="../storage/img/abrigo02.webp" alt="">
                        <div class="caja_info_todos_2">
                            <h5>Chaqueta Impermeable En Gabán Para Dama 'Negro'</h5>
                            <div class="texto_img_todos_2">
                                <p>$93.900</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_3">
                        <img src="../storage/img/abrigo03.webp" alt="">
                        <div class="caja_info_todos_3">
                            <h5>Chaqueta Impermeable En Gabán Para Dama 'Blanco'</h5>
                            <div class="texto_img_todos_3">
                                <p>$93.900</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_4">
                        <img src="../storage/img/abrigo04.webp" alt="">
                        <div class="caja_info_todos_4">
                            <h5>Chaqueta Hombre Cuero Sintético</h5>
                            <div class="texto_img_todos_4">
                                <p>$102.000</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_5">
                        <img src="../storage/img/abrigo05.webp" alt="">
                        <div class="caja_info_todos_5">
                            <h5>Calidad Chaqueta Hombre Algodon Colombiano Buso Ropa Buzos</h5>
                            <div class="texto_img_todos_5">
                                <p>$77.900</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>