<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/camisetas.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section id="todos_productos" class="body__menu">
            <article class="menu">
                <h1 class="titulo__menu">CampusShop</h1>
                <div class="categorias__menu">
                    <div>
                        <i class='bx bx-closet'></i>
                        <a href="#todos_productos">Todos los productos</a>
                    </div>
                    <div>
                        <i class='bx bx-closet'></i>
                        <a href="abrigos.html">Abrigos</a>
                    </div>
                    <div class="todos_productos_boton_menu">
                        <i class='bx bx-closet'></i>
                        <a href="camisetas.html">Camisetas</a>
                    </div>
                    <div>
                        <i class='bx bx-closet'></i>
                        <a href="pantalones.html">Pantalones</a>
                    </div>
                </div>
                <div class="carrito__menu">
                    <i class='bx bxs-cart-alt' ></i><p>carritos</p>
                    <h5>2</h5>
                </div>
                <div class="marca__menu">
                    <i class='bx bx-copyright'></i>
                    <p>2023 Camper</p>
                </div>
            </article>
            <article class="todos__productos">
                <h1 class="titulo__todos__productos">Camisetas</h1>
                <div class="imgs_todos">
                    
                    <div class="img_todos_6">
                        <img src="../storage/img/camiseta01.webp" alt="">
                        <div class="caja_info_todos_6">
                            <h5>Camiseta De Compresión En Licra Uv Slim</h5>
                            <div class="texto_img_todos_6">
                                <p>$38.000</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_7">
                        <img src="../storage/img/camiseta02.webp" alt="">
                        <div class="caja_info_todos_7">
                            <h5>Camiseta Tipo Polo Color Dama Mujer</h5>
                            <div class="texto_img_todos_7">
                                <p>$26.255</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_8">
                        <img src="../storage/img/camiseta03.webp" alt="">
                        <div class="caja_info_todos_8">
                            <h5>Camiseta Deportiva, Crossfit, Gym, Ejercicios Al Aire Libre</h5>
                            <div class="texto_img_todos_8">
                                <p>$29.900</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_9">
                        <img src="../storage/img/camiseta04.webp" alt="">
                        <div class="caja_info_todos_9">
                            <h5>Camisetas Bandas De Rock Metal Heavy Riffs</h5>
                            <div class="texto_img_todos_9">
                                <p>$32.850</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_10">
                        <img src="../storage/img/camiseta05.webp" alt="">
                        <div class="caja_info_todos_10">
                            <h5>Camiseta Anime Nezuko Kamado Kimetsu No Yaiba Demon Slayer</h5>
                            <div class="texto_img_todos_10">
                                <p>$29.900</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>