<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/carrito_vacio.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section id="abrigos" class="body__menu">
            <article class="menu">
                <h1 class="titulo__menu">CampusShop</h1>
                <div class="categorias__menu">
                    <div>
                        <i class='bx bxs-grid-alt' ></i>
                        <a href="../index.html">Todos los productos</a>
                    </div>
                    <div>
                        <i class='bx bxs-t-shirt'></i>
                        <a href="abrigos.html">Abrigos</a>
                    </div>
                    <div>
                        <i class='bx bxs-t-shirt'></i>
                        <a href="camisetas.html">Camisetas</a>
                    </div>
                    <div>
                        <i class='bx bxs-t-shirt'></i>
                        <a href="pantalones.html">Pantalones</a>
                    </div>
                </div>
                <div class="carrito__menu">
                    <i class='bx bxs-cart-alt' ></i><a href="carrito_menu.html">Carritos</a>
                    <h5>0</h5>
                </div>
                <div class="marca__menu">
                    <i class='bx bx-copyright'></i>
                    <p>2023 Camper</p>
                </div>
            </article>
            <article class="todos__productos">
                <h1 class="titulo__todos__productos">Carrito</h1>
                <div>
                    <h4>Tu carrito esta vacio :(</h4>
                </div>
            </article>
        </section>
    </main>
</body>
</html>