<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/carrito_menu.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section id="abrigos" class="body__menu">
            <article class="menu">
                <h1 class="titulo__menu">CampusShop</h1>
                <div class="categorias__menu">
                    <div>
                        <i class='bx bxs-grid-alt' ></i>
                        <a href="../index.html">Todos los productos</a>
                    </div>
                    <div>
                        <i class='bx bxs-t-shirt'></i>
                        <a href="abrigos.html">Abrigos</a>
                    </div>
                    <div>
                        <i class='bx bxs-t-shirt'></i>
                        <a href="camisetas.html">Camisetas</a>
                    </div>
                    <div>
                        <i class='bx bxs-t-shirt'></i>
                        <a href="pantalones.html">Pantalones</a>
                    </div>
                </div>
                <div class="carrito__menu">
                    <i class='bx bxs-cart-alt' ></i><a href="carrito_menu.html">Carritos</a>
                    <h5>3</h5>
                </div>
                <div class="marca__menu">
                    <i class='bx bx-copyright'></i>
                    <p>2023 Camper</p>
                </div>
            </article>
            <article class="todos__productos">
                <h1 class="titulo__todos__productos">Carrito</h1>
                <div class="carrito_todos">
                    <div class="articulo_carrito_1">
                        <img src="../storage/img/pantalon01.webp" alt="">
                        <div class="caja_info_1">
                            <h5>Nombre:<br>Pantalon En Dril Licrado Para Hombre</h5>
                            <div class="info_cada_1">
                                <p>Cantidad<br><br><button>2</button> </p>
                                <p>Precio <br><br>$117.800</p>
                                <p>Subtotal <br><br>$58.900</p>
                                <a href="carrito_informacion1.html"><i class='bx bx-menu'></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="articulo_carrito_2">
                        <img src="../storage/img/abrigo02.webp" alt="">
                        <div class="caja_info_2">
                            <h5>Nombre:<br>Chaqueta Impermeable En Gabán Para Dama 'Azul'</h5>
                            <div class="info_cada_2">
                                <p>Cantidad <br><br><button>2</button></p>
                                <p>Precio <br><br>$187.800</p>
                                <p>Subtotal <br><br>$93.900</p>
                                <a href="carrito_informacion2.html"><i class='bx bx-menu'></i></a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="articulo_carrito_3">
                        <img src="../storage/img/camiseta03.webp" alt="">
                        <div class="caja_info_3">
                            <h5>Nombre:<br>Camiseta Deportiva, Crossfit, Gym, Ejercicios Al Aire Libre</h5>
                            <div class="info_cada_3">
                                <p>Cantidad<br><br><button>1</button></p>
                                <p>Precio <br><br>$29.900</p>
                                <p>Subtotal <br><br>$29.900</p>
                                <a href="carrito_informacion3.html"><i class='bx bx-menu'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info_precio"> 
                    <div class="boton_vaciar_carro">
                        <a href="carrito_vacio.html"><button>Vaciar <br> Carrito</button></a>
                    </div>
                    <div class="total_precio">
                        <div class="precio_total">
                            <p>Total <br>$8.500</p>
                        </div>
                        <div class="boton_pagar">
                            <button>Comprar <br> Ahora</button>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>