<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/pantalones.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section id="todos_productos" class="body__menu">
            <article class="menu">
                <h1 class="titulo__menu">CampusShop</h1>
                <div class="categorias__menu">
                    <div>
                        <i class='bx bxs-grid-alt' ></i>
                        <a href="../index.html">Todos los productos</a>
                    </div>
                    <div>
                        <i class='bx bxs-t-shirt'></i>
                        <a href="abrigos.html">Abrigos</a>
                    </div>
                    <div>
                        <i class='bx bxs-t-shirt'></i>
                        <a href="camisetas.html">Camisetas</a>
                    </div>
                    <div class="todos_productos_boton_menu">
                        <i class='bx bxs-t-shirt'></i>
                        <a href="pantalones.html">Pantalones</a>
                    </div>
                </div>
                <div class="carrito__menu">
                    <i class='bx bxs-cart-alt' ></i><a href="carrito_menu.html">Carritos</a>
                    <h5>3</h5>
                </div>
                <div class="marca__menu">
                    <i class='bx bx-copyright'></i>
                    <p>2023 Camper</p>
                </div>
            </article>
            <article class="todos__productos">
                <h1 class="titulo__todos__productos">Pantalones</h1>
                <div class="imgs_todos">
                    
                    <div class="img_todos_11">
                        <img src="../storage/img/pantalon01.webp" alt="">
                        <div class="caja_info_todos_11">
                            <h5>Pantalon En Dril Licrado Para Hombre</h5>
                            <div class="texto_img_todos_11">
                                <p>$58.900</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_12">
                        <img src="../storage/img/pantalon02.webp" alt="">
                        <div class="caja_info_todos_12">
                            <h5>Pantalón Camuflado Hermoso</h5>
                            <div class="texto_img_todos_12">
                                <p>$104.405</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_13">
                        <img src="../storage/img/pantalon03.webp" alt="">
                        <div class="caja_info_todos_13">
                            <h5>Pantalón Jogger Cargo, Táctico, Militar</h5>
                            <div class="texto_img_todos_13">
                                <p>$104.500</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_14">
                        <img src="../storage/img/pantalon04.webp" alt="">
                        <div class="caja_info_todos_14">
                            <h5>Pantalón Jeans De Colores Entubado Para Hombre</h5>
                            <div class="texto_img_todos_14">
                                <p>$61.750</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                    <div class="img_todos_15">
                        <img src="../storage/img/pantalon05.webp" alt="">
                        <div class="caja_info_todos_15">
                            <h5>Pantalon Camuflado, De Bolsillos 100% Dreal</h5>
                            <div class="texto_img_todos_15">
                                <p>$89.990</p>
                                <button>Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>